
/*
    gray: #f5f5f5;
    bg-gray: #e4e6e9;
    border-gray: #e7e7e7;
    nav bar blue background: #438eb9;
*/

.screen-hidden {
    display: none;
    visibility: hidden;
}
body, header, footer, section {
    margin: 0;
    padding: 0;
}
body {
    font-size: 14px;
    background: url('../images/bg-pattern.jpg') repeat;
}
header {
    padding-left: 45px;
    width: 100%;
    display: block;
    height: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #438eb9;
}
header .logo {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding-top: 5px;
    text-transform: uppercase;
}
#container {
    width: 100%;
    margin-left: 45px;
    display: block;
    overflow: auto;
    background-color: #f5f5f5;
}
#container #column-one,
#container #column-two {
    display: inline-block;
    float: left;
}
#container #column-one {
    width: 189px;
}
#container #column-two {
    width: 968px;
}
#container #sidebar {
    min-height: 500px;
    height: 100%;
}

#container #controls,
#container #content,
footer {
    width: 100%;
    clear: right;
    border: 1px solid #e7e7e7;
}

#container #controls {
    min-height: 38px;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 7px;
}
#container #content {
    min-height: 66px;
    background-color: #fff;
    padding: 15px;
}
footer {
    background-color: #fff;
    padding: 20px;
    font-size: 16px;
    text-align: center;
}

.btn {
    color: #FFF !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
    border: 5px solid #FFF;
    cursor: pointer;
    vertical-align: middle;
    margin: 0;
    position: relative;
    text-align: center;
    line-height: 24px;
    padding: 0;
    border-width: 4px;
}

.btn-info, .btn-info:focus {
    background-color: #6fb3e0 !important;
    border-color: #6fb3e0;
}
.btn:hover {
    box-shadow: 1px 1px 3px #555;
}

#container #content .widget-main {
    width: 100%;
    margin-left: 0;
    box-sizing: border-box;
}
.section:hover {
    outline: 1px solid grey;
}
.print-forHTML {
    display: none;
}