/* twitter typeahead */
.form-search .twitter-typeahead {
	margin: 0 !important;
}

div.typeahead-content {
	margin-top: 5%;
	margin-left: 15%;
}

.typeahead,
.tt-input,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
	width: 100%;
 	background-color: #fff;
	padding-left: 24px !important;
}

.bp-typeahead {
	padding-left: 5px !important;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-input {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: inherit;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  max-height: 130px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  transition: display 1s;
}

/* overwrite default style for landscape table dropdown */
.cell-textbox .tt-menu {
	position: relative !important;
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 16px;
  line-height: 22px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.twitter-typeahead {
	width: 100%;
	max-width: 594px;
	margin: 0 auto 0 auto;
	font-size: 16px;
}
/* end of typeahead */

/* bootstrap submenu */
.custom-dropdown {
	margin-right: 15px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* start of overwrite bootstrap */
#bootbox-form .form-group {
	margin-top: 15px;
}

.pagination {
	margin: 10px !important;
}

.nav-searchbox {
	margin-top: 7px;
}

.nav-searchbox .typeahead {
	border: 1px solid rgba(38, 119, 166, 0.6);
	position: relative;
	background-color: rgba(38, 119, 166, 0.6);
	transition: all .3s linear;
}

.nav-searchbox .typeahead:focus {
	background-color: #fff;
	border: 0;
}

.nav-searchbox .typeahead[disabled] {
	background-color: rgba(38, 119, 166, 0.6) !important;
	cursor: not-allowed !important;
}

.nav-searchbox .tt-menu {
	max-height: 250px !important;
}

.nav-typeahead-button {
	margin: 0;
	padding: 0 5px;
	height: 30px;
	border: none;
	background-color: #62a8d1 !important;
}

/* overwrite bootstrap table row selected color */
.table tbody tr.active td {
  background-color: #ededed !important;
}

.table tbody tr.active:hover td {
  background-color: #e6e6e6 !important;
}


/* end of overwrite bootstrap*/



/* start of global */
.radio, .checkbox {
	padding-left: 0;
	padding-right: 20px;
	margin: 0;
}

table {
    table-layout: fixed;
}

table td,th {
    overflow: hidden;
    text-overflow: ellipsis;
}

ul {
	padding-left: 0;
	margin-left: 0;
}

ul.no-style-list {
	list-style: none outside;
}

ul.inline-list li {
	display: inline;
}

a:hover{ 
	text-decoration: none;
}

.tooltip {
	font-size: 16px;
}

.tooltip-inner {

    /* If max-width does not work, try using width instead */
    width: 350px; 
}

/* end of global */

/* basepath global */


.bp_inline-radio .radio {
	display: inline-block;
}

.bp_no-padding {
	padding: 0 !important;
}

.bp-default-padding {
	padding: 15px 15px 0 15px;
}

.bp_full-width {
	width: 100%;
}

.bp_underlined {
	text-decoration: underline;
}

.hiding {
	display: none !important;
}

.marked {
	opacity: 0.3;
}

.bp_noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bp_margin-top-20 {
	margin-top: 20px;
	font-size: 14px;
	color: black;
}

.bp_navbar-default {
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 0px;
	margin: 0px;
	width: 100%;
	z-index: 10;
}

/* need a min-height so that user can select somthing */
.bp-cell-text {
	min-height: 20px;
}

/* report style */
.bp_header_bold {
	font-weight: bold;
}

/* report indent */
/* headerSpacings = [0, 8, 12, 16, 20, 24, 28, 34, 40, 46, 52, 58 ] */

.bp_header_spacing_8 {
	margin-left: 8px;
}

.bp_header_spacing_12 {
	margin-left: 12px;
}

.bp_header_spacing_16 {
	margin-left: 16px;
}

.bp_header_spacing_20 {
	margin-left: 20px;
}

.bp_header_spacing_24 {
	margin-left: 24px;
}

.bp_header_spacing_28 {
	margin-left: 28px;
}

.bp_header_spacing_34 {
	margin-left: 34px;
}

.bp_header_spacing_40 {
	margin-left: 40px;
}

.bp_header_spacing_46 {
	margin-left: 46px;
}

.bp_header_spacing_52 {
	margin-left: 52px;
}

.bp_header_spacing_58 {
	margin-left: 58px;
}


/* end of basepath global */

/* tab controller */
.bp_min-height-content {
	min-height: 350px;
}

/* value selector */
.bp_title-font {
	font-size: 18px;
}

/* user guide */
.bp_user-guide-container {
	min-width: 400px;
}

/* bfml browse tree view*/
.list-group.tree:before {
	border: none !important;
}

.list-group.tree {
	padding-left: 0 !important;
}

span.bp-synoptic-note {
	color: red;
}

.tree-item label {
	cursor: pointer;
}

.bp-tree-checkbox, .bp-tree-radio {
	margin-right: 2px;
}

.bp-synoptic-info {
	font-style: oblique;
}

.popover {
	z-index: 10;
}

.bp-synoptic-warning {
	font-style: oblique;
	color: red;
}

.list-group-item.active > a {
	color: white;
}

.tree-item.divider {
	height: 20px !important;
}

.tree-item.divider:before {
	border-top: none !important;
}

.tree-item .bp-tree-divider {
	position: absolute;
	top: 14px;
	left: -13px;
	width: 100%;
	height: 0;
	border-top: 1px dotted #67b2dd;
	z-index: 1;
}
/* end of bfml browse tree view*/

/* new case */
.bp_specimen-box {
	display: block;
	min-height: 38px;
	margin: 5px 0;
	padding: 8px 12px;
	background: #F8FAFF;
	border: 1px solid #DAE2EA;
	color: #7C9EB2;
	text-decoration: none;
	font-weight: bold;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* topdf */
.bp_canvas-content {
	width: 1061px;
	background-color: rgb(255, 255, 255);
}

/* modal place vertically centered */
.bp_modal-vcentered {
	padding-top: 13%;
}

/* show message */
.bp_message-window {
	position: fixed;
	top: 45px;
	right: 0;
	width: 40%;
	min-width: 200px;
	z-index: 1999;
}

.bp_message-window .alert{
	padding: 9px;
}

/* bfml save */
.bp-editor-page > div, .bp-editor-page > form {
	margin: 13px 15px;
} 

/* bfml editor */
.bp-editor-page {
/*	height: 310px;  NO DOUBLE SCROLL */
	min-height: 310px;
	overflow-y: auto;
}

.bp-bfml-edit-content .widget-box {
	padding: 0 !important;
}

.bp-bfml-edit-content .widget-box .btn-group {
	margin: 5px 2px !important;
}

.bp-bfml-edit-content .tab-content {
	border: none;
	padding-top: 0;
	padding-bottom: 0;
}

.bp-editor-page .error.wrap {
	background-color: #F03;
	color: #fff;
}

.bp-editor-page .warning.wrap {
	background-color: #FF5E00;
	color: #fff;
}

.bp-editor-page .wrap {
	padding: 0 2px;
	border-radius: 5px;
}

.bp-bfml-edit-content .error li.list-group-item {
	margin-bottom: 10px;
}

.bp_error-message.visited {
	color: #4c0891;
}

.bp_notification {
	padding-bottom: 1px !important;
	color: white !important;
	background-color: #E85245 !important;
}

.bp-info-circle {
	color: #438EB9;
}

a[data-toggle="popover"]:hover {
	z-index: 1000;
}

.bp-popover {
	width: 100%;
}

/* bfml editor buttons */
.submenu {
	max-height: 138px;
	overflow-y: auto;
}

.bp-key-button .submenu {
	max-height: 999px;
	overflow-y: visible;
	min-width: 0;
	width: auto;
}

.btn-toolbar .submenu {
	top: 95%;
}

/* controls widgets */
a.bp-widget-item {
	margin: 0 5px 0 5px;
}

a.bp-widget-item.disabled {
	opacity: 0.5;
}

ul.submenu {
	display: none;
}
ul.submenu:hover {
	display: block;
}

/* ReportContainer */
.report-container-margin {
	margin: 0 15px;
}

.section {
	margin: 5px 0px 5px 0px;
	outline: 1px solid grey;
}

.section:hover {
	outline: 2px solid black;
}

.section .summary-control {
	opacity: 0;
}

.section :not(.synoptic-owner):hover .summary-control {
	opacity: 1;
}

.summary-control i {
	font-size: 18px;
	margin: 10px 5%;
}

.summary-control .dropdown-menu {
	top: 95% !important;
}

.table-control .dropdown-menu {
	top: 95% !important;
}

.switch-mode-radio {
	font-size: 18px;
}

.switch-mode-radio .notActive {
    color: #428bca;
    background-color: #fff;
}

tr.bp-sorting {
	background-color: #eef4f9;
}

/* overwrite bootstrap theme 3D btn style */
.switch-mode-radio .btn-primary {
    background-image: none;
}

/* SectionItemView */
.dialog-title {
	margin-bottom: 2px;
}

div.dialogs {
	min-height: 30px;
	padding: 2px 15px 0 15px;
	list-style: none;
}

div.dialogs.active {
	background-color: #E9E9E9;
}

ul.report-group {
	list-style: disc inside;
}

ul.report-group:hover {
	border: 1px dashed grey;
}

li.report-item.inline-format {
	display: inline;	
}

.summary-diagnosis .summary-item {
	margin-bottom: 5px;
	list-style: none;
}

span.free-text {
	width: 80%;
}


.template-title {
	color: inherit;
}

.template-title:hover {
	text-decoration: underline;
}

.synoptic-body {
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.synoptic-table {
	width: 100%;
}

table.bp-landscape-format td {
	min-width: 150px;
	width: 100%;
}

li.synoptic-owner {
	list-style-type: none;
}

.synoptic-owner {
	border: 1px solid grey;
	margin: 2px 0;
}

.synoptic-owner .table-value-cell {
	padding: 0px 5px 0px 5px;
}

.synoptic-owner .table-value-cell:hover {
	background-color: #E9E9E9;
}

/* TableControlsView */
.synoptic-owner .table-control {
	opacity: 0;
}

.synoptic-owner:hover .table-control {
	opacity: 1;
}

.synoptic-table-header {
	padding: 5px;
}

.table-control i {
	font-size: 18px;
	margin: 5px 3%;
}

.table-control i.change-all-specimens-icon {
	margin-right: 0;
}


/* contenttable */
div.bp-content-table-data.hiding {
	display: none;
}

button.add-to-synonyms {
	background: none;
}

div.bp-content-table-data {
	margin: 5px;
	padding: 3px;
	border: 1px solid #E9E9E9;
	display: block;
	transition: max-height 400;
}

/* used for text only in termtable */
div.bp-form-text {
	padding-top: 4px;
	margin-bottom: 4px;
}

/* HTMLEdit */
.bp-dropdown-menu-right {
  right: 0;
  left: auto;
}
.bp-dropdown-menu-left {
  right: auto !important;
  left: 0 !important;
}

p.bp-html-edit:hover, h1.bp-html-edit:hover, h2.bp-html-edit:hover, h3.bp-html-edit:hover  {
	background-color: #E9E9E9;
}

p.bp-html-edit.selected, h1.bp-html-edit.selected, h2.bp-html-edit.selected, h3.bp-html-edit.selected  {
	background-color: #E9E9E9;
    border: 2px solid #438EB9;
}

.bp-modal-body {
	padding: 20px 20px 5px 20px;
}

.bp-html-edit-modal {
	margin: 5px 0px 0px 5px;
	max-height: 125px;
	border: 1px solid #E9E9E9;
	overflow-y: scroll;
}

.bp-html-edit-modal:hover {
	border: 2px solid #e9e9e9;
}

.bp-html-edit-control {
	margin: 20px 5px 0px 5px;
	padding: 10px 0px 5px 0px;
	border: 1px solid #E9E9E9;
}

.bp-html-edit-control:hover {
	border: 1px solid black;
}

.bp-html-edit-input {
	margin: 0px 15px 15px 15px;
}

.inline.bp-html-edit, .tags.bp-html-edit {
	width: 100%;
}

.bp-html-edit-form-element {
	padding: 0px 0px 5px 0px;
}

/* table-key-cell, table-value-cell */
.table-condensed > tbody > tr > td.table-key-cell {
	padding: 0px 5px 0px 5px;
}

.table-condensed > tbody > tr > td.table-value-cell {
	padding: 0px 5px 0px 5px;
}

.header_bold {
	font-weight: bold;
}

.bp-row-control {
	width: 150px;
	float: right;
}

.bp-dim {
	opacity: 0.4;
}

/* TableItemView */
/* consider deleting */
.synoptic-table tr {
	border: thin dotted grey;
}

.synoptic-table td.key {
	width: 35%;
}

.synoptic-table td.value {
	width: 35%;
}

.synoptic-table td.value:hover {
	outline: 1px solid grey;
}

.synoptic-table td.control {
	width: 30%;
}

/* ValueItemView */
.synoptic-value {
	padding-right: 10%;
}

span.table-value {
	color: black;
}

.synoptic-table-container-wrapper, .summary-diagnosis {
	margin: 0 1px;
}

.synoptic-table-container {
	overflow-x: auto;
	padding-bottom: 15px;
}

.synoptic-table-container table {
	min-width: 100%;
}

/* ControlItemView */
tr .bp-row-control {
	opacity: 0;
}

tr:hover .bp-row-control {
	opacity: 1;
}


/* PopoverHelpItemView */
.popover-content {
    max-height: 350px;
    overflow-y: auto;
}

/* PleaseWait */
.please-wait .modal {
	margin-top: 10%;
}

/* CaseTableView */
.google-visualization-table-table tr {
	border: thin dotted grey;
}

.google-visualization-table-table td {
	height: 30px;
}

/* ApplySpecimenItemsView */
.table-row-modals textarea {
	width: 95%;
}

/* template Chooser */
.synoptic-template-modal .modal-header {
	margin-bottom: 15px;
}

.synoptic-template-modal .search-box {
	margin-top: 50px;
}

.synoptic-template-modal .header-container {
	margin-top: 0;
	margin-bottom: 0;
}

.synoptic-template-modal .answer-mode {
	padding: 0 12px;
}

.one-line-title {
	text-overflow: ellipsis;
	height: 30px;
	padding-top: 5px;
	overflow: hidden;
	white-space: nowrap;
	font-size: 18px;
}

.fixed-height {
	max-height: 330px;
	overflow-y: auto;
}

.synoptic-template-modal .fixed-body {
	height: 340px;
	overflow-y: auto;
	padding-top: 0;
	padding-bottom: 0;
}

.fixed-content {
	height: 300px;
	overflow-y: auto;
	padding-top: 0;
	padding-bottom: 0;
}

.synoptic-template-modal .fixed-second-content {
	margin-bottom: 10px;
}

.no-border-tab-content .tab-content {
	border: none;
}

.template-mode-content {
	margin: 0 15px;
}

/* SpecimenChooserView */
.specimen-chooser-modals .items {
	margin-left: 20%;
}

/* ItemChooserView */
.item-chooser-modals .items {
	margin-left: 20%;
}

/* UserListView */
.setting-content {
	padding-top: 20px;
}

/* InlineContentModal */
#inline {
	margin: 0 5%;
}

/* ApplySpecimenItemOptionView added by XL-4/15*/
.table-row-modal .answer-row {
	margin-bottom: 10px;
}

.table-row-modal .header-container {
	min-height: 60px;
}

.table-row-modal .fixed-body {
	height: 310px;
	overflow-y: auto;
}

.table-row-modal .fixed-content {
	height: 250px;
	overflow-y: auto;
}

.table-row-modal textarea {
	width: 100%;
	height: 210px;
}

.table-row-modal ul.checkbox-content {
	display: table;
	table-layout: fixed;
}

.table-row-modal ul.checkbox-content li {
	display: table-cell;
	text-align: center;
}

/* termTablePageView */
.table-pager {
	text-align: center;
}

.dropdown-icon {
	margin: 0 3px;
}

/* termsItemView */
.term-dropdown-content {
	display: inline-block;
}

.term-dropdown-link {
	padding: 6px 6px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
}

.term-dropdown-content:hover .term-dropdown-link {
	border: 1px solid #428bca;
	color: #428bca;
}

.term-remove {
	opacity: 0;
	margin-left: 5px;
}

.term-dropdown-content:hover .term-remove {
	opacity: 1;
}

/* Pager */
.table-pager-container {
	position: relative;
}

.table-pager-blocker {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 2;
	opacity: 0.5;
}

/* search window */
.search-window .modal-dialog {
	margin-top: 15%;
} 

.search-window .modal-header {
	height: 300px;
} 

.search-box-container {
	margin-top: 5%;
}

/* confirm-window view */
.alert-window .modal-body, .confirm-window .info-window .modal-body {
	font-size: 16px;
}

.alert-window .modal-dialog, .confirm-window .info-window .modal-dialog {
	margin-top: 15%;
} 

/* breadcrumb */
.breadcrumb-container {
	margin-top: 15px;
	margin-bottom: 15px;
}

.grey-border {
	border-radius: 4px;
	border: 1px solid #ddd;
}

.items-container {
	margin-top: 20px;
}

/* create case */
.create-case-content .step-pane {
	min-height: 320px;
}

.create-case-content .step-content{
	padding: 0 15px;
}

.create-case-content form {
	margin-top: 20px;
}

.role-checkboxes .checkbox-inline {
	padding-left: 0;
	padding-right: 20px;
	margin-left: 0;
}

.specimens-list-nostyle {
	list-style-type: none;
	margin-left: 0;
}

.specimens-list {
	list-style-type: decimal;
	margin-left: 20px;
}

.descriptions-list {
	list-style-type: none;
	margin-left: 0;
}

.specimens-list-number {
	list-style-type:decimal;
	list-style-position: inside;
}

ul.description {
	list-style-type: circle;
}

.report-hospital-logo {
	height: 100%;
	width: 100%;
}

.filled-border {
	background: #827D7D;
	border: 1px solid #827D7D;
	color: white;
}

/* report table value selector*/
.selector-body .menu-content{
	margin-top: 30px;
	margin: 0 5px;
}

.selector-body .min-content {
	min-height: 250px;
}

.input-modal input[type="text"] {
	width: 100%;
}

/* start of overwrite ace-template */
/* line 1479 */
.user-info {
	max-width: 150px;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left;
	vertical-align: top;
	line-height: 18px;
	font-size: 18px;
	position: relative;
	top: 3px;
}
.user-info small {
  font-size: 70%;
}
.user-info-container {
	width: 150px;
}

/* line 3644 */
@media only screen and (max-width: 991px) {
  .navbar-toggle {
	display: block !important;
  }
}

/* line 5026 */
@media only screen and (max-width: 767px) {
  .nav-search .nav-search-icon {
    border: none;
    border-radius: none;
    background-color: transparent;
    padding: 0 !important;
  }
}

/* line 8242 */
.input-icon > .ace-icon {
  z-index: 99;
}

/* line 8354 */
input[type=checkbox].ace + .lbl::before,
input[type=radio].ace + .lbl::before {
  margin-right: 5px;
}

/* line 11875 */
.login-layout {
  background-color: transparent;
}

/* line 11890 */
.login-layout .widget-box {
  background-color: transparent;
}

/* line 15868 */
.widget-body .md-header {
  margin-top: 0;
  margin-left: 0;
  background: #307ecc;
  border-color: #307ecc;
}

/* overwrite ace.css */
input[type=checkbox].ace:disabled + .lbl::before,
input[type=radio].ace:disabled + .lbl::before,
input[type=checkbox].ace[disabled] + .lbl::before,
input[type=radio].ace[disabled] + .lbl::before,
input[type=checkbox].ace.disabled + .lbl::before,
input[type=radio].ace.disabled + .lbl::before {
  color: #7B7A7A !important;
  cursor: not-allowed;
}

.border {
	border: 1px solid #827D7D;
}

.bot-left-header {
	border-left: 1px solid #827D7D;
}

.bot-right-header {
}

.margin-rows .row {
	margin-bottom: 10px;
}

.header-line-1 {
	height: 125px;
	border-bottom: none;
}

.header-line-2 {
	height: 216px;
}

.description-content .description-delete-icon {
	opacity: 0;
}

.description-content:hover .description-delete-icon {
	opacity: 1;
}

.specimen-content .description-add-icon {
	opacity: 0;
}

.specimen-content:hover .description-add-icon {
	opacity: 1;
}

.profile-info-name {
	width: 30%;
}

/* newly added */
@media only screen and (max-width: 768px) {
  
  /* newly added */
  .nav-searchbox {
	width: 90%;
	padding-bottom: 7px;
  }
}

.minus-button, .plus-button {
	border: 1px solid transparent !important;
}

.tree {
	overflow-x: visible;
}

.tree .tree-item, .tree .tree-folder .tree-folder-header {
	height: inherit;
}

.bp-folder {
	width: 99%;
}
.badge-white,
.label-white {
  background-color: white !important;
}

.widget-body .btn-toolbar {
	margin-left: 0 !important;
}
.widget-body .md-header .btn-group {
	margin: 5px !important;
}

/* end of overwrite ace-template */

/* mobile style */
@media screen and (max-width: 767px) {
    
    /* Force table to not be like tables anymore */
	#responsive-table table, 
	#responsive-table thead, 
	#responsive-table tbody, 
	#responsive-table th, 
	#responsive-table td, 
	#responsive-table tr { 
		display: block; 
	}
	
	#responsive-table table {
		padding: 0;
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#responsive-table thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#responsive-table tr { 
		border: 1px solid #ccc; 
	}
 
 	#responsive-table .portrait-format td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		white-space: normal;
		text-align:left;
		width: 100%;
		padding-left: 0; 
 	}
	
	#responsive-table td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
/*		padding-left: 50%;  RR ? april 29 */ 
		position: relative;
		white-space: normal;
		text-align:left;
		height: auto !important;
	}
	
	#responsive-table td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
		text-overflow: ellipsis;
		overflow: hidden;
	}
 
	#responsive-table td:before { 
		content: attr(data-title); 
	}
	
	#responsive-table .popover { 
		position: relative;
	}
	
	.modal-footer {
		padding-top: 0;
		margin-top: 0;
	}
	
	.nav-pills a i {
		position:absolute;
		right: 10px;
	}
	
	.table-row-modal ul.checkbox-content {
		width: 100%;
	}
	
	.bp_user-guide-container {
		min-width: 0;
	}
	
	table.bp-landscape-format td {
		width: 100%;
	}
	
	.dropdown-icon {
		right: 30px !important;
	}
}

/* stylesheet for broswer print */
@media print {
  	.bp_canvas-content {
		width: 750px;
	}
	
	.col-sm-6 {
		width: 50% !important;
	}
	
	.section {
		outline: none;
	}
	
    table { page-break-inside:auto }
	div   { page-break-inside:avoid; } /* This is the key */
	thead { display:table-header-group }
	tfoot { display:table-footer-group }
}