@media print {
    body {
        width: 690px;
        background: none;
    }
    body,
    .tab-content-container.col-xs-12 {
        padding: 0;
        margin: 0;
        font-size:12px;
        border: none;
    }

    h1 {font-size:18px !important;}
    h2 {font-size:16px !important;}
    h3 {font-size:14px !important;}
    h4 {font-size:12px !important;}

    header {
        width: 690px;
        background-color: #fff;
        border-bottom: 1px solid #b9b9b9;
        margin-bottom: 10px;
        padding-left: 10px;
    }
    .print-hidden {
        display: none!important;
        visibility: hidden!important;
    }

    .bp-row-control.bp-tooltip {
        display: none;
        visibility: hidden;
    }

    .panel {

    }
    header .logo {
        display: inline-block;
        color: #000;
    }
    header .title.case {
        font-size: 18px;
        font-weight: bold;
        float: right;
        position: relative;
        display: block;
        visibility: visible;
        top: -25px;
    }
    #container,
    #container #column-two,
    #container #content {
        margin: 0;
        padding: 0;
        border: none;
    }
    #container #column-two {
        width: 690px;
    }
    #content {
        width: 100%;
    }
    .section {
        outline: none;
        border: none;
    }
    .section:hover {
        outline: none;
    }
    ul.report-group:hover {
        border: none;
    }
}